//$normalize: ;
$font-stack: Open Sans;
$white-color: #fff;
$grey-fbbg-color: #e9eaed;
$lightgrey-color: #787878;
$grey-color: #555555;
$lightgreyblue-color: #f6f7f8;
$greyblue-border-color: #dfe0e4;
$bluegrey-color: #4e5665;
$blue-color: #445880;
$yellow-color: #fcff00;
$black-color: #000;